In [1]:
import pandas as pd
import numpy as np

In [2]:
onhand = pd.read_csv("onhand_table.csv")

In [4]:
N_s = [17846, 23293, 10171, 11013, 58864, 108664]
filenames = ["kofe.csv", "pivo.csv", "alco.csv", "prod.csv", "meat.csv", "larek.csv"]

In [5]:
onhand

      Unnamed: 0  good_id  shop_id  onhand_qnt
0              0        9    29651       4.000
1              1       18     7686       1.000
2              2       20    11013       1.000
3              3       20    20271      29.000
4              4       20    31565      12.000
5              5       20    36083      18.000
6              6       20    46492      17.000
7              7       22    23293       6.000
8              8       25    24799       2.000
9              9       26    43904      10.000
10            10       26   108664       1.102
11            11       27    29651      15.000
12            12       30    38212       1.144
13            13       36    15174      25.000
14            14       41    23414      27.500
15            15       41    25347       4.000
16            16       42    24799      23.000
17            17       43    23414       1.349
18            18       43   108664       1.256
19            19       49    44447       1.410
20            20       50    25347      44.500
21            21       50    29651      23.500
22            22       50    34141      24.000
23            23       53    23414       3.700
24            24       53    25347       1.362
25            25       53    41970       1.837
26            26       53    44447       0.561
27            27       53   108664       0.257
28            28       54    15174       1.980
29            29       56    11013      10.000
...          ...      ...      ...         ...
7291        7291  6986407    98539       2.000
7292        7292  6986408    98539       1.000
7293        7293  6986775    98539       1.000
7294        7294  6988115    98539       1.000
7295        7295  6989975    98539       8.000
7296        7296  6995661    98539       3.000
7297        7297  6995878    98539     648.000
7298        7298  6997005    34763       9.000
7299        7299  7006012    98539      12.000
7300        7300  7017407    98539       8.000
7301        7301  7017408    98539       9.000
7302        7302  7021925    98539       7.000
7303        7303  7021926    98539       6.000
7304        7304  7022317    98539       6.000
7305        7305  7022514    98539       7.000
7306        7306  7025589    98539       7.000
7307        7307  7025819    98539      12.000
7308        7308  7027874    98539       1.000
7309        7309  7037882    98539       4.000
7310        7310  7037883    98539       1.000
7311        7311  7046553    31565      12.000
7312        7312  7046990    98539      10.000
7313        7313  7056159    98539      10.000
7314        7314  7067095    98539       2.000
7315        7315  7069309    98539      10.000
7316        7316  7077644    98539      10.000
7317        7317  7077645    98539      12.000
7318        7318  7079243    23824       4.000
7319        7319  7079244    23824       5.000
7320        7320  7085043    98539       2.000

[7321 rows x 4 columns]

In [7]:
for N, filename in zip(N_s, filenames):
    df = pd.read_csv(filename)
    temp = onhand[onhand["shop_id"] == N].values
    good_to_onhand = dict(zip(temp[:, 1], temp[:, 3]))
    new_column = []
    for good in df["bar_code"].values:
        if good in good_to_onhand:
            new_column += [good_to_onhand[good]]
        else:
            new_column += [0]
    df["count"] = np.array(new_column)
    df.to_csv("new" + filename, index=False)